<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="orginfo" transaction-type="RESOURCE_LOCAL">

        <class>com.company.orginfo.entity.OrgInfo</class>
        <class>com.company.orginfo.entity.OrgInfoTotalVIew</class>
    </persistence-unit>
</persistence>
